/**
 * Icon navigation styles
 */

nav.icon-navigation ul {
	background-color: var(--navigation-background, var(--colour-background-primaryr, var(--colour-background, transparent)));
	margin: 0;
	padding: 0;
	color: var(--colour-text-primary, var(--colour-primary, darkslategrey));
}

nav.icon-navigation li {
	border-bottom: 0.25em solid transparent;
	display: inline-block;
    position: relative;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}
nav.icon-navigation.highlight-on-hover ul li:hover, nav.icon-navigation.highlight-on-hover ul li:focus, nav.icon-navigation.highlight-on-hover ul li:active {
	background-color: var(--colour-primary, var(--colour-text-primary, darkslategrey));
	border-bottom: inherit;
	border-radius: 0.5em;
	color: var(--colour-secondary, var(--colour-text-secondary, white));
}
nav.icon-navigation ul li:hover, nav.icon-navigation ul li:focus, nav.icon-navigation ul li:active {
	border-bottom-color: var(--colour-text-primary, var(--colour-primary, darkslategrey));
}

nav.icon-navigation ul li a, nav.icon-navigation ul li a:visited, nav.icon-navigation ul li a:hover, nav.icon-navigation ul li a:focus, nav.icon-navigation ul li a:active {
    display: block;
	color: inherit;
	text-decoration: none;
	padding: 0.5em 0.75em;
}

nav.icon-navigation > ul ul {
	background-color: var(--navigation-background, var(--colour-background-primaryr, var(--colour-background, white)));
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    flex-flow: column nowrap;
    position: absolute;
    top: 2.45em;
    white-space: nowrap;
}

nav.icon-navigation .link-label { display: none; }

nav.icon-navigation > ul ul ul { left: 100%; top: 0; }

nav.icon-navigation > ul li:hover > ul { display: flex; }

nav.icon-navigation:not(.no-active-link) .active-link { border-bottom-color: var(--colour-text-primary, var(--colour-primary, darkslategrey)); }

nav.icon-navigation .link-expansion-icon { font-size: 0.8em; margin-left: 0.25em; }

nav.icon-navigation svg { height: 1em; margin: 0 0.25em; }
