/**
 * Icon navigation styles
 */

nav.icon-navigation ul {
	background-color: var(--navigation-background-color, var(--primary-background-colour, var(--background-color, transparent)));
	margin: 0;
	padding: 0;
	color: var(--primary-text-colour, var(--primary-colour, darkslategrey));
}

nav.icon-navigation li {
	border-bottom: 0.25em solid transparent;
	display: inline-block;
    position: relative;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}
nav.icon-navigation ul li:hover:not(.active-link), nav.icon-navigation ul li:focus:not(.active-link), nav.icon-navigation ul li:active:not(.active-link) {
	border-bottom-color: var(--primary-text-colour, var(--primary-colour, darkslategrey));
}

nav.icon-navigation ul li a, nav.icon-navigation ul li a:visited, nav.icon-navigation ul li a:hover, nav.icon-navigation ul li a:focus, nav.icon-navigation ul li a:active {
    display: block;
	color: inherit;
	text-decoration: none;
	padding: 0.5em 0.75em;
}

nav.icon-navigation > ul ul {
	background-color: var(--navigation-background-color, var(--primary-background-colour, var(--background-color, white)));
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    flex-flow: column nowrap;
    position: absolute;
    top: 2.45em;
    white-space: nowrap;
}

nav.icon-navigation .link-label { display: none; }

nav.icon-navigation > ul ul ul { left: 100%; top: 0; }

nav.icon-navigation > ul li:hover > ul { display: flex; }

nav.icon-navigation .active-link { border-bottom-color: var(--primary-text-colour, var(--primary-colour, darkslategrey)); }

nav.icon-navigation .link-expansion-icon { font-size: 0.8em; margin-left: 0.25em; }

nav.icon-navigation svg { height: 1em; margin: 0 0.25em; }
