#modal {
    align-items: center;
    background-color: #fff;
    background-color: rgba(0,0,0,0.4);
    display: none;
    flex-flow: column wrap;
    height: 100%;
    left: 0;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#modal.show { display: flex; }

#modal header { background: black; color: #FFF; }

#modal .content {

}

#modal .content.input {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2em;
  border: 1px solid #888;
  max-width: 50%;
}
#modal .content.input > *:nth-of-type(1) { margin-top: 0; }

.close {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin: -2em;
    text-shadow: none;
}

.close:active,
.close:focus,
.close:hover {
  text-shadow: 0.1em 0.1em 0.2em grey;
}
