.blog-preview { margin-bottom: 1em; padding-bottom: 0.5em; }
.blog-preview:not(:last-child) { border-bottom: solid 0.1em darkslategrey; }

.blog-preview > h3 { color: var(--colour-primary, var(--colour-text-primary, inherit)); margin: 0; }
.blog-preview > h3:active, .blog-preview > h3:focus, .blog-preview > h3:hover { cursor: pointer; }

.blog-preview .timestamp { color: gray; font-size: 0.8em; margin: 0; }
