@import url('./style.vertical.css');
@import url('./style.horizontal.css');

:root {
    --circle-offset: -2.75em;
    --circle-offset-line: 0.3em;
    --circle-offset-top: 1em;
    --circle-placement: calc(var(--circle-offset) - var(--circle-offset-line));
    --circle-size: 1.5em;

    --content-border-radius: 0.3em;
}

.timeline-item {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    border-radius: var(--content-border-radius);
    background-color: var(--colour-secondary, #fff);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    position: relative;
    z-index: 10;
}

.timeline-item:after {
    content: ' ';
    background-color: var(--colour-secondary, #fff);
    box-shadow: 0.1em -0.1em 0.1em rgba(0, 0, 0, 0.2);
    position: absolute;
    transform: rotate(45deg);
    width: 1em;
    height: 1em;
    z-index: -1;
}

.timeline-item .content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    width: 100%;
}

.timeline-item .content h3 { margin: 0; }

.timeline-item .tag {
    background-color: var(--colour-primary, #50c878);
    border-radius: var(--content-border-radius);
    color: var(--colour-secondary, #fff);
    font-size: 0.5em;
    font-weight: bold;
    top: 0.3em;
    left: 0.3em;
    letter-spacing: 1px;
    padding: 0.3em;
    position: absolute;
    text-transform: uppercase;
}
.timeline-item:nth-child(even) .tag { left: auto; right: 0.3em; }

.timeline-item time { color: #777; font-size: 0.7em; margin: 0.5em 0; }

.timeline-item a.read-more:after { content: '...'; }

.timeline-item.date-alternate time {
    font-size: 1.25em;
    position: absolute;
    width: 0;
    white-space: nowrap;
    z-index: 100;
}

.timeline-item .circle {
    background-color: var(--colour-secondary, #fff);
    border: var(--timeline-line-width) solid var(--colour-primary, #50c878);
    border-radius: 50%;
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    z-index: 100;
    font-size: var(--circle-size);
    text-align: center;
    line-height: var(--circle-size);
    color: var(--colour-primary, #50c878);
}
.timeline-item .circle:hover { cursor: pointer; }

@media only screen and (max-width: 767px) {
    .timeline-item { flex-flow: column nowrap; }
    .timeline-item .content,
    .timeline-item:nth-child(even) .content { text-align: center; align-items: center; }
    .timeline-item .tag { margin: -2em 0 0.5em; position: relative; width: 100%; text-align: center; }
    .timeline-item time { margin-top: 0.25em; }
    .timeline-item .content a { text-decoration: underline; }
    .timeline-item .content a:after { display: none; }
}
