.accordion > h3 {
    color: var(--colour-primary, var(--colour-background-primaryr, darkslategrey));
    margin: 0.25em 0 0.1em;
    padding: 0 0.25em 0 0.5em;
}

.accordion > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.accordion > ul > li {
    width: 100%;
}

.accordion > ul > li > * {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em;
    width: 100%;
}

.accordion-item .item-title {
    background-color: var(--colour-secondary, var(--colour-background-secondary, darkgreen));
    border: none;
    border-bottom: solid 1px var(--accordion-border-colour, var(--colour-border, black));
    color: var(--colour-primary, var(--colour-background-primaryr, white));
    font-size: 1em;
    padding: 1em;
    text-align: left;   
    transition: all 0.5s ease;
}
.accordion-item.active .item-title {
    background-color: var(--colour-primary, var(--colour-background-primaryr, darkslategrey));
    color: var(--colour-secondary, var(--colour-background-secondary, white));
}
.accordion-item .item-title .control { font-size: 2em; line-height: 0.5em; }

.accordion-item .item-content {
    background: lightgrey;
    height: 0;
    overflow: hidden;
    padding: 0 0.5em;
    transition: all 0.5s ease;
}
.accordion-item.active .item-content {
    padding: 0.5em;
}